.row { clear: both; }

#leftcol {
  float: left;
  width: 750px;
}

#board {
  float: left;
  width: 750px;
  height: 500px;
}

#hclues {
 float: left;
 width: 250px;
}

#vclues {
  clear: both;
  width: 740px;
}

