@off-white: #FAF9F7;
@black: #2E2E2E;

.row { clear: both; }

#leftcol {
  float: left;
  width: 770px;
  margin-bottom: 5px;
}

#board {
  float: left;
  width: 770px;
  height: 500px;
}

header {
  display: block;
  height: 30px;
  background: @black;
  margin-bottom: 5px;
}

#vclues {
  clear: both;
  max-width: 755px;
  margin-bottom: 10px;
}
