
.dismissed {
  color: #eeeeee;
}

.chosen {
  display: block;
  width: 99px;
  height: 99px;
  margin: 0;
}

.cell {
  margin: 0 0 -1px -1px;
  border: 1px solid #cccccc;
  float: left;
  width: 99px;
  height: 99px;
}

.choice {
  width: 31px;
  height: 31px;
  border: 1px dotted #dddddd;
  margin: 8px 0;
  float: left;
}


