@modal("howto-modal") {
	<div class="title"><h1>How to Play</h1><div class="close">X</div></div>
	<div id="howtoplay">
	    <ul>
	      <li class="desktoponly">Click to pick. Rightclick to dismiss.</li>
	      <li class="touchonly">Tap to dismiss. Tap &amp; Hold to select.</li>
	      <li><strong>x ↔ y</strong> means <em><strong>x</strong> in a column next to <strong>y</strong></em></li>
	      <li><strong>x → y</strong> means <em><strong>y</strong> in some column right of <strong>x</strong></em></li>
	      <li><strong>x ↓ y</strong> means <em><strong>x</strong> above <strong>y</strong> in the same column</em></li>
	    </ul>
	  </div>
}