@(g: game.Game)

@main("Watson") {
<div id="leftcol">
  <div id="board">
  @for(y <- 'a' to 'f') {
    <div id="row@y" class="row">
    @for(x <- 1 to 6) {
      <div id="@y@x" data-row=@y data-col=@x class="cell unpicked">
      @for(c <- 1 to 6) {
        <a id="@y@x-@c" class="choice p@c" data-pick=@c data-pick-class=p@c>
          <span class="choiceInner p@y">@game.RowChoice(y-97, c-1).name</span>
        </a>
      }
      </div>
    }
    </div>
  }
  </div>
    <div id="vclues">
  @g.sameCol.map { c =>
    <div class="samecol clue" id="@c.id">
      <span class="r@c.above.row">@c.above.name</span>
      <span class="relation">↓</span>
      <span class="r@c.below.row">@c.below.name</span>
    </div>
  }
  <div style="clear:both;"></div>
  </div>
  <div style="clear:both;"></div>
</div>
  <div id="hclues">
  @g.adjCol.map { c =>
    <div class="adjCol clue" id="@c.id">
      <span class="r@c.x.row">@c.x.name</span>
      <span class="relation">↔</span>
      <span class="r@c.y.row">@c.y.name</span>
    </div>
  }
  @g.leftToRight.map { c =>
    <div class="ltr clue" id="@c.id">
      <span class="r@c.left.row">@c.left.name</span>
      <span class="relation">→</span>
      <span class="r@c.right.row">@c.right.name</span>
    </div>
  }
  <p id="howtoplay">
    <h1>How to Play</h1>
    <ul>
      <li>Tap to dismiss an option. Tap and hold to select
      <li>"x ↔ y" means "x appears in the column next to y"
      <li>"x → y" means "y appears in a column somewhere to the right of x"
      <li>"x ↓ y" means "x appears above y in the same column"
    </ul>
  </p>
  </div>

  <script>
    var initialAnswers = [
      @for(i <- 'a' to 'f'; j <- 1 to 6; a <- g.board(i.toInt-97, j-1).answered) {
        new Choice('@i', @j, '@(a.i+1)'),
      }
    ]
  </script>
}