@(g: game.Game)

@main("Watson") {
  <div id="board">
  @for(y <- 'a' to 'f') {
    <div id="row@y" class="row">
    @for(x <- 1 to 6) {
      <div id="@y@x" data-row=@y data-col=@x class="cell unpicked">
      @for(c <- 1 to 6) {
        <a id="@y@x-@c" class="choice p@c" data-pick=@c>@game.RowChoice(y-97, c-1).name</a>
      }
      </div>
    }
    </div>
  }
  </div>
  <div id="hclues">
  @g.adjCol.map { c =>
    <div class="adjCol clue" id="@c.id">@c.name</div>
  }
  @g.leftToRight.map { c =>
    <div class="ltr clue" id="@c.id">@c.name</div>
  }
  </div>
  <div id="vclues">
  @g.sameCol.map { c =>
    <div class="samecol clue" id="@c.id">@c.name</div>
  }
  </div>

  <script>
    var initialAnswers = [
      @for(i <- 'a' to 'f'; j <- 1 to 6; a <- g.board(i.toInt-97, j-1).answered) {
        new Choice('@i', @j, '@(a.i+1)'),
      }
    ]
  </script>
}